extends ../base_templates/base

block body
  .content-block
    .hero-block
      .titles.titles_hero
        h1.titles_hero_heading
          span.titles_hero_heading_1
            | Design systems             
          span.titles_hero_heading_2
            | Club
        p.titles_hero_text
          | Каталог отечественных компонентных дизайн-систем, реализованных на технологическом уровне. Живые гайдлайны, статьи, презентации, выступления и другие материалы о них.          
        button.button.button_main 
          a(href="http://eepurl.com/deKCzL") Подписаться на рассылку

    .true-systems-block
      .titles.titles_companies
        h2.titles_companies_heading.titles_companies_heading-decoration_true
          | компонентные
          br
          | дизайн-системы
          
      .cards
        
        mixin card_item(href, img, title, text, site)
          .cards_item
            a(href=href).cards_item_logo
              img(src=img)
            .cards_item_text-block
              .cards_item_title= title
              .cards_item_text= text
            .tags-block.tags-block_inCard
              if site
                a(href=site).tags-block_tag
                    | сайт
              a(href=href).tags-block_tag.tags-block_tag-secondary
                  | другие ссылки 
        
        each card in cards_component
          +card_item(
            card.href,
            card.img,
            card.title,
            card.text,
            card.site
          )   

    .basic-systems-block
      .titles.titles_companies
        h2.titles_companies_heading.titles_companies_heading-decoration_basic
          | дизайн-системы
        p.titles_companies_subtitle
          | Нет публичной ссылки на сайт или репозиторий

      .cards
        
        each card in cards_simple
          +card_item(
            card.href,
            card.img,
            card.title,
            card.text,
            card.site
          ) 
        
    .conferences-block
      .titles.titles_companies
        h2.titles_companies_heading.titles_companies_heading-decoration_conferences
          | Конференции

      .cards.cards_conferences
        .cards_item.cards_item_conferences
          iframe(src='https://www.youtube.com/watch?v=DzH6kcII2jw', frameborder='0', gesture='media', allow='encrypted-media', allowfullscreen='')


    include ../base_templates/footer.pug
